* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #331436;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
    font-family: Roboto;
}

.logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

.h1-header {
    color: white;
    height: 36px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.right-header {
    display: flex;
    gap: 40px;
}

.nav {
    display: flex;
    color: white;
    height: 36px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    gap: 40px;
}

header a {
    text-decoration: none;
    color: white;
}

.search-container {
    display: flex;
    width: 200px;
    height: 36px;
    color: #ffffff;
    background-color: #331436;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    gap: 4px;
    border-radius: 6px;
    border: 1px solid #ffffff1a;
    justify-content: center;
    align-items: center;
}

.input-container input {
    background-color: #331436;
    width: 160px;
    height: 20px;
    border: none;
}

.lupa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-lupa {
    width: 16.98px;
    height: 16.96px;
    top: 1.67px;
    left: 1.67px;
}

section {
    background-color: #0000001a;
    height: 746px;
    font-family: Roboto;
}

.columns {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 60px 170px 60px 170px;
    font-family: Roboto;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 240px;
    height: 626px;
    gap: 10px;
}

.column p {
    align-self: flex-start;
    padding-left: 10px;
    font-weight: 500px;
    color: #331436;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f8f2ff;
    width: 200px;
    height: 127px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #331436;
    padding: 10px;
}

.high {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    border-radius: 8px;
    background-color: #cb4f57;
    color: #7a1745;
    border: 1px solid #7a1745;
    gap: 10px;
    font-size: 10px;
    font-weight: 500px;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    border-radius: 8px;
    border: 1px;
    background-color: #eb9961;
    color: #cb4f57;
    border: 1px solid #cb4f57;
    gap: 10px;
    font-size: 10px;
    font-weight: 500px;
}

.low {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 15px;
    border-radius: 8px;
    border: 1px;
    background-color: #fcf4b6;
    color: #eb9961;
    border: 1px solid #eb9961;
    gap: 10px;
    font-size: 10px;
    font-weight: 500px;
}

.date {
    color: #00000080;
}

.line-one {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 500px;
}

.line-two {
    font-size: 12px;
    font-weight: 800px;
}

.line-three {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-three img {
    display: flex;
    width: 15px;
    height: 15px;
}

.members-container {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.member {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    font-size: 10px;
    color: white;
    font-weight: 500px;
}

.purple {
    background-color: #801e8f;
}

.blue {
    background-color: #2e4b83;
}

.pink {
    background-color: #d92b93;
}

.green {
    background-color: #1a712d;
}

.brown {
    background-color: #af4a00;
}

footer {
    display: flex;
    background-color: #331436;
    gap: 60px;
    height: 220px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    font-size: 20px;
    font-family: Roboto;
    gap: 60px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: white;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 136px;
    height: 34.46px;
}

.social-links img {
    width: 50px;
}

.form label {
    color: #331436;
    font-weight: 500;
    line-height: 20px;
}

.form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    line-height: 20px;
    width: 520px;
    height: 36px;
}

.form-content {
    display: flex;
    flex-direction: column;
}
