* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #331436;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

.h1-header {
    color: white;
    height: 36px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.nav {
    display: flex;
    color: white;
    height: 36px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    gap: 40px;
}

.search-container {
    display: flex;
    color: #ffffff80;
    height: 36px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    gap: 40px;
}

.lupa {
    display: flex;
}

section {
    background-color: #0000001a;

    height: 400px;
}

.columns {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 60px 170px 60px 170px;
}

.column {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 240px;
    height: 300px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f2ff;
    width: 200px;
    height: 127px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #331436;
}

.line-one {
    display: flex;
    justify-content: space-between;
}

.line-three {
    display: flex;
    justify-content: space-between;
}

.members-container {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.member {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    font-size: 10px;
}

.purple {
    background-color: #801e8f;
}

footer {
    display: flex;
    background-color: #331436;
    gap: 60px;
    height: 220px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    gap: 60px;
    color: #ffffff;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 136px;
    height: 34.46px;
}

.social-links img {
    width: 50px;
}

.form label {
    color: #331436;
    font-weight: 500;
    line-height: 20px;
}

.form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    line-height: 20px;
    width: 520px;
    height: 36px;
}

.form-content {
    display: flex;
    flex-direction: column;
}
