* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: flex;
    background-color: #331436;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

header img {
    width: 50px;
    height: 50px;
}

.h1-header {
    color: white;
    height: 36px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.red-button {
    width: 240px;
    height: 48px;
    border-radius: 08px;
    opacity: 0px;
    padding: 12px;
    background-color: #cb4f57;
    color: #fcf4b6;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.main-section {
    display: flex;
    background-color: #7a1745;
    width: 1519px;
    height: 496px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.text-content-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 216px;
    font-family: Roboto;
    gap: 24px;
}

.h1-section1 {
    color: #ffffff;
}

.p-main-section {
    text-align: center;
    color: #ffffff;
}

.image-section1 {
    width: 540px;
    height: 437px;
}

.section2 {
    display: flex;
    flex-direction: column;
    width: 1519px;
    height: 792px;
    gap: 60px;
    padding: 60px 170px 60px 170px;
}

.text-content-section2 {
    display: flex;
    flex-direction: column;
    height: 192px;
    font-family: Roboto;
    gap: 24px;
}

.h1-section2 {
    font-size: 40px;
    font-weight: 700;
}

.paragrafo-section2 {
    font-size: 16px;
    line-height: 1.5;
}

.learmore-button {
    width: 240px;
    height: 48px;
    padding: 12px;
    border-radius: 8px;
    background-color: #331436;
    color: #ffffff;
}

.image-section2 {
    width: 340px;
    height: 340px;
}

.image-content {
    display: flex;
    gap: 40px;
}

.text-images {
    font-family: Roboto;
    color: #331436;
}

.text-image-title {
    font-size: 16px;
}

.text-image-subtitle {
    font-size: 20px;
    font-weight: 500;
}

footer {
    display: flex;
    background-color: #331436;
    gap: 60px;
    height: 220px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    gap: 60px;
    color: #ffffff;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 136px;
    height: 34.46px;
}

.social-links img {
    width: 50px;
}

.form label {
    color: #331436;
    font-weight: 500;
    line-height: 20px;
}

.form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    line-height: 20px;
    width: 520px;
    height: 36px;
}

.form-content {
    display: flex;
    flex-direction: column;
}
