* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Roboto;
}

header {
    background-color: #331436;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.logo-container {
    gap: 20px;
    align-items: center;
    display: flex;
}

header img {
    width: 50px;
    height: 50px;
}

.h1-header {
    color: white;
    height: 36px;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 60px;
    padding: 60px 170px 60px 170px;
}

h1 {
    display: flex;
    color: #331436;
    height: 36px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 170px 60px 170px 60px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 170px 60px 170px 60px;
}

button {
    width: 240px;
    height: 48px;
    padding: 12px;
    background: #331436;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

footer {
    display: flex;
    background-color: #331436;
    gap: 60px;
    height: 220px;
    padding: 60px;
    justify-content: center;
    align-items: center;
}

.copyright {
    display: flex;
    font-size: 20px;
    font-family: Roboto;
    gap: 60px;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: white;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 136px;
    height: 34.46px;
}

.social-links img {
    width: 50px;
}

.form label {
    color: #331436;
    font-weight: 500;
    line-height: 20px;
}

.form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 8px 12px;
    line-height: 20px;
    width: 520px;
    height: 36px;
}

.form-content {
    display: flex;
    flex-direction: column;
}
